.navbar-header .navbar-brand img{
	height:50px;
	width:auto;
	margin-top:-10px;
	margin-right:100px;
}

.main-navbar{
	height:80px;
	padding:10px;
}

.header-welcome-backoffice{
	background-color:#333;
	color:#fff;
	padding:20px;
	margin-top:-30px;
	margin-bottom:10px;
	width:100%;
}
.header-welcome-backoffice h3{
	margin-top:10px;
	padding-top:0;
	font-weight:bold;
}

.header-welcome-oficina-virtual{
	background-color:#214e72;
	color:#fff;
	padding:20px;
	margin-top:-30px;
	margin-bottom:10px;
	margin-left:-20%;
	width:130%;
}
.header-welcome-oficina-virtual h3{
	margin-top:10px;
	padding-top:0;
	font-weight:bold;
}

.left.carousel-control,.right.carousel-control{
	opacity:0.1;
	-webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.left.carousel-control:hover,.right.carousel-control:hover{
	opacity:0.8;
}

.main-content{
	margin-top:100px;
	padding-top:10px;
	padding-bottom:20px;
	min-height:500px;
}

.modules-container{
	margin-top:20px;
	margin-bottom:20px;
}

.module-text{
	padding-top:10px;
}

#logout-btn{
	margin-right:15px;
}

.loading-container{
	padding-top:30px;
	font-size:18px;
	color:#ffc72d;
	text-align:center;
}

.alert-sm{
	font-size:12px;
	padding:5px;
}

.alert ul{
	list-style: none;
	padding:0;
}

.table td{
	text-align:left;
}

tr.red-user-left{
	border-left:3px solid #337AB7;
}

tr.red-user-right{
	border-left:3px solid #449D44;
}

.ghost{
	color:#ccc;
}

#register-user-modal .modal-content .modal-body .row{
	margin:20px 0px;
}

.com-periodo-label{
	padding:0;
	margin-top:-10px;
}

.nav-tabs{
	border-bottom:none;
}


.downloads-link{
	position:relative;
	width:130px;
	height:150px;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color:#333;
	border-radius: 5px;
	display:inline-block;
	margin-left:5px;
}

.download-link a{
	text-decoration:none;
}

.download-title {
	position:absolute;
	bottom:0;
	width:100%;
	height:150px;
	text-align:center;
	background-color:rgba(0,0,0,0.4);
	color:#fff;
}

.download-title .title-text{
	position:absolute;
	height:30px;
	bottom:0;
	width:100%;
	text-align:center;
	font-weight: bold;
	font-size:11px;
}

.download-title:hover{
	background-color:rgba(0,0,0,0);
}


/* =====================================================================
============================= RED MAP ==================================
========================================================================*/
#arbol{
	overflow:auto;
	min-height:150px;
}

.red-map-wrap{
	width:1000%;
	margin:0px 0px 40px;
}

#map-scrollbutton{
	margin:10px auto;
}

.red-box {
	display:inline-block;
	margin:1px;
	font-size:10px;
	vertical-align: top;
}

.red-box .label-default{
	padding:1px;
	margin:1px;
}

.label.multiple{
	border:2px solid #D9534F;
}
.label.not-mult{
	border:2px solid brown;
}

.red-box section.downlines-container{
	border-top:thin solid #ccc;
	border-left:thin solid #ccc;
	border-right:thin solid #ccc;
	margin-top:3px;
	background-color:rgba(0,0,0,0.05);
}

.red-box section.downlines-container:hover{
	border-top:thin solid #333;
	border-left:thin solid #333;
	border-right:thin solid #333;
	background-color:rgba(165,255,247,0.1);
}

.red-box section.downlines-container.multiple{
	border-top:2px solid orange;
	border-left:2px solid orange;
	border-right:2px solid orange;
}

.red-box section.downlines-container.multiple:hover{
	border-top:2px solid orange;
	border-left:2px solid orange;
	border-right:2px solid orange;
}


footer{
	padding-top:20px;
	padding-bottom:40px;
}

/* Portrait */
/*@media screen and (max-width: 360px){
	.navbar-header .navbar-brand img{
		margin-top:-60px;
		height:60px;
	}
}*/